body {
  background-color: #292929;
}
.display-none {
  display: none !important;
}
.container {
  font-family: sans-serif;
  color: #FFF;
  width: 500px;
  margin: 20px auto 0 auto;
}
.container .nothing-display img {
  width: 100%;
  margin-top: 20px;
}
.container .title {
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
}

.container p {
  color: #FFF;
  font-size: xx-small;
  text-transform: uppercase;
}
.item {
  border: #333 solid 2px;
  border-radius: 3px;
  padding: 10px 20px 10px 20px;
  font-size: small;
  margin-bottom: 10px;
}
.upcoming-item {
  background-color: #DDD;
  color: #000;
}
.finished-item {
  background-color: #000;
  text-decoration: line-through;
}
.upcoming {
  margin-bottom: 30px;
}
#add-btn {
  width: 40px;
  height: 40px;
  display: block;
  border: none;
  border-radius: 20px;
  font-size: x-large;
  background-color: #000;
  color: #FFF;
  box-shadow: 0px 0px 10px 10px #333;
  margin: 30px auto 0 auto;
}
#add-btn:focus {
  outline: none;
}

.Modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
}
.add-item-wrapper {
  width: 400px;
  height: 100px;
  background-color: #000;
  border: #333 dashed 2px;
  border-radius: 3px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -200px;
}
.Modal #new-todo {
  background-color: #333;
  border: none;
  color: #FFF;
  height: 30px;
  font-size: large;
  padding: 0 10px 0 10px;
}
.Modal #new-todo:focus {
  outline: none;
}
.Modal #add-done {
  background-color: #000;
  border: #333 solid 2px;
  color: #333;
  height: 30px;
}